@{
    ViewBag.Title = "Narrador_Jugadores";
    Layout = "~/Views/Layouts/_Narrador.cshtml";
}

<div class="uk-width-9-10 uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-1-4">
            <div class="uk-button-dropdown" data-uk-dropdown>
                <button class="uk-button uk-button-large uk-button-primary">#equipo&nbsp<i class="uk-icon-caret-down"></i></button>
                <div class="uk-dropdown">
                    <ul class="uk-nav uk-nav-dropdown"></ul>
                </div>
            </div>
        </div>
        <div class="uk-width-1-4 uk-push-2-4 uk-text-right">
            <a class="uk-button uk-button-primary uk-text-break" href="@Url.Action("Narrador_Partido")"><i class="uk-icon-check">&nbsp</i>Completar apertura</a>
        </div>
    </div>
    <h1>Selección de jugadores titulares</h1>
    <table class="uk-table">
        <tr>
            <th></th>
            <th>Pasaporte X-FIFA</th>
            <th>Nombre del jugador</th>
        </tr>
    </table>
</div>